@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: #fff;
}
div{
	box-sizing: border-box;
}

.default-bg{
	background-color: #52AAD9;
}
.center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
	position: relative;
}

.row{
	animation: fadeIn 1.5s linear;
	position: relative;
}

/* Header CSS Main page */

header{
	width: 100%;
	height: 420px;
	margin-bottom: 50px;
}

header .main{
	overflow: hidden;
}

#logo{
	width: 600px;
	height: 300px;
	margin-top: -300px;
	z-index: 999;
}

/* Barbell and lifter CSS */
.lifter{
	width: 380px;
	height: 400px;
	margin: 50px auto 0px auto;
	-webkit-animation: fadeIn 1.5s linear;
	-o-animation: fadeIn 1.5s linear;
	animation: fadeIn 1.5s linear;
	position: relative;
	z-index: -1;
}
.lifter > div{
	background-color: #356E8C;
	position: absolute;
}
.lifter > div.barbell-p1, .lifter > div.barbell-p8{
	top: 75px;
}
.lifter > div.barbell-p5, .lifter > div.barbell-p7{
	top: 72px;
}
.lifter > div.barbell-p6{
	top: 78px;
}
div[class*="barbell-p2"], div[class*="barbell-p3"], div[class*="barbell-p4"]{
	top: 37.5px;
}

div[class*="barbell-p2"]{
	border-radius: 50%;
	width: 40px;
	height: 90px;
	z-index: 2;
}
div[class*="barbell-p3"]{
	width: 30px;
	height: 90px;
	z-index: 2;
}
div[class*="barbell-p4"]{
	border-radius: 50%;
	width: 40px;
	height: 90px;
	z-index: 2;
}

.barbell-p1{
	border-radius: 5px 0px 0px 5px;
	width: 30px;
	height: 17px;
	z-index: 3;
	left: 0px;
}
.barbell-p2-l{
	left: 17.5px;
}
.barbell-p3-l{
	left: 37.5px;
}
.barbell-p4-l{
	left: 46px;
}
.barbell-p2-r{
	left: 299px;
}
.barbell-p3-r{
	left: 319px;
}
.barbell-p4-r{
	left: 326px;
}
.barbell-p5{
	border-radius: 5px 10px 15px 5px;
	width: 25px;
	height: 25px;
	z-index: 2;
	left: 77px;
}
.barbell-p6{
	width: 213px;
	height: 7px;
	z-index: 2;
	left: 85px;
}
.barbell-p7{
	width: 150px;
	height: 7px;
	z-index: 2;
	border-radius: 10px 5px 5px 10px;
	width: 25px;
	height: 25px;
	z-index: 2;
	left: 289px;
}
.barbell-p8{
	border-radius: 0px 5px 5px 0px;
	width: 25px;
	height: 17px;
	z-index: 2;
	left: 354px;
}

.lifter-la{
	width: 30px;
	height: 16px;
	-ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    top: 81px;
    left: 76px;
}
.lifter-la-2{
	width: 60px;
	height: 22px;
	-ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    top: 105px;
    left: 84px;
    border-radius: 60% 60% 70% 50%;
}
.lifter-lua{
	width: 65px;
	height: 30px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 138px;
    left: 113px;
    border-radius: 60% 90% 70% 90%;
}
.lifter-ls{
	width: 45px;
	height: 80px;
	-ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 148px;
    left: 148px;
    border-radius: 65% 95% 90% 90%;
}
.lifter-ubody{
	width: 90px;
	height: 110px;
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 152px;
    left: 150px;
    border-radius: 55% 45% 90% 40%;
}
.lifter-t{
	width: 30px;
	height: 30px;
    top: 150px;
    left: 164px;
    border-radius: 50%;
}
.lifter-neck{
	width: 30px;
	height: 30px;
	-ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 128px;
    left: 189px;  
}
.lifter-h{
	width: 50px;
	height: 60px;
    top: 93px;
    left: 179px; 
    border-radius: 45% 50% 40% 60%;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.lifter-rua{
	width: 80px;
	height: 30px;
	-ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    top: 142px;
    left: 192px;
    border-radius: 60% 90% 70% 90%;
}
.lifter-ra{
	width:  30px;
	height: 15px;
	-ms-transform: rotate(310deg);
    -webkit-transform: rotate(310deg);
    transform: rotate(310deg);
    top: 86px;
    left: 286px;
}
.lifter-ra-2{
	width: 60px;
	height: 22px;
	-ms-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    transform: rotate(320deg);
    top: 110px;
    left: 244px;
    border-radius: 60% 60% 70% 50%;
}
.lifter-lb{
	width: 80px;
	height: 62px;
	-ms-transform: rotate(250deg);
    -webkit-transform: rotate(250deg);
    transform: rotate(250deg);
    top: 243px;
    left: 115px;
    border-radius: 80% 90% 80% 80%;
}
.lifter-lc{
	width: 85px;
	height: 32px;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 274px;
    left: 96px;
    border-radius: 60% 60% 50% 50%;
}
.lifter-rb{
	width: 80px;
	height: 68px;
    top: 242px;
    left: 147px;
    border-radius: 80% 80% 76% 0%;
}
.lifter-ru{
	width: 90px;
	height: 50px;
	-ms-transform: rotate(143deg);
    -webkit-transform: rotate(143deg);
    transform: rotate(143deg);
    top: 253px;
    left: 180px;
    border-radius: 120% 140% 0% 110%;
}
.lifter-rc{
	width: 85px;
	height: 32px;
	-ms-transform: rotate(107deg);
    -webkit-transform: rotate(107deg);
    transform: rotate(107deg);
    top: 274px;
    left: 204px;
    border-radius: 60% 60% 50% 50%;
}

/* Video CSS Main Page */

.video-container{
	width: 60.25%;
	height: auto;
	margin: 0px auto 50px auto;
	padding: 20px;
	background-color: #356E8C;
	display: inline-block;
	border-radius: 5px;
}
.video
{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

i {
	position: absolute;
	top: 50%;
    border: solid #356E8C;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    -o-transition: border-color .2s ease-out, opacity .2s ease-in;
  -ms-transition: border-color .2s ease-out, opacity .2s ease-in;
  -moz-transition: border-color .2s ease-out, opacity .2s ease-in;
  -webkit-transition: border-color .2s ease-out, opacity .2s ease-in;
  transition: border-color .2s ease-out, opacity .2s ease-in;
}

i:hover{
	border-color: #eee;
	opacity: 0.6;
	cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 150px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 150px;
}

/* Content CSS Main Page  */
.box{
	width: 300px;
	height: 225px;
	margin: 15px;
	background-color: #356E8C;
	display: inline-block;
	border-radius: 5px;
}
.box-headline{
	font-weight: 400;
	font-size: 20px;
	margin-top: 35%;
}

#container{
	width: 100%;
	margin-top: 50px;
}

